@use "@/styles/mixins.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #e0f2fe;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7dd3fc;
    border-radius: 4px;

    &:hover {
      background: #38bdf8;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  text-align: center;
  font-size: 1.5rem;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button {
  @include button-tertiary;
}
