@use "@/styles/variables" as *;

.form {
    background: $background-color;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* 초기 상태 */
    opacity: 0;
    transform: translateX(-50px);
    /* 애니메이션 적용 및 딜레이 부여 */
    animation: fadeSlideInLeft 1s forwards;
    animation-delay: 0.5s;

    .inputGroup {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
            font-weight: 600;
            color: $text-color;
        }

        input {
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid $border-color;
            border-radius: 4px;
        }

        .error {
            color: $text-color-error;
            font-size: 0.9rem;
            margin-top: 0.5rem;
        }
    }

    .button {
        padding: 0.75rem;
        font-size: 1rem;
        background-color: $primary-color;
        border: none;
        color: $text-color-white;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $primary-color-hover;
        }
    }
}

@keyframes fadeSlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
